Source: ktp-call-ui
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Diane Trout <diane@ghic.org>, Michał Zając <quintasan@kubuntu.org>, Mark Purcell <msp@debian.org>, Maximiliano Curia <maxy@debian.org>
Build-Depends: debhelper (>= 9),
 pkg-kde-tools,
 cmake,
 libtelepathy-farstream-dev (>= 0.6.0),
Standards-Version: 3.9.6
Homepage: https://community.kde.org/KTp
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/ktp-call-ui.git
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/ktp-call-ui.git

Package: kde-telepathy-call-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 kde-telepathy-data (>= 0.8.1),
 qtgstreamer-declarative (>= 1.2),
 kde-telepathy-declarative (>= ${source:Upstream-Version}),
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 gstreamer1.0-x,
 gstreamer1.0-pulseaudio [linux-any] | gstreamer1.0-alsa [linux-any],
 pulseaudio [linux-any] | gstreamer1.0-alsa [linux-any]
Recommends: kde-telepathy,
 gstreamer1.0-plugins-ugly,
 gstreamer1.0-libav
Description: KDE Telepathy UI for audio/video calls
 This package provides the KDE Telepathy component that enables doing
 audio/video calls on XMPP/Jingle and SIP.
 .
 This package is not meant to be used standalone. It is recommended
 to install the kde-telepathy metapackage instead.
